@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #ff69b4">🌷 Welcome! 🌷</h1>
    <p style="color: #ff69b4">
        Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color: #ff69b4">building Web apps with ASP.NET Core 💻</a>.
    </p>
</div>
